
**/node_modules
**/bower_components
node_modules
npm-debug.log*
.node_repl_history
.node_history
.lock-wscript
.npm

.tmp
*.swo
*.swp
*.swn
*.swm
*.diff
*.log
*.patch
*.bak
*.log
*.iml
*.ipr
*.iws
*.out
*.gz
*#
*~
~*
.\#*
.cache
**/.cache

.idea
.DS_STORE
.Trashes
.project
.vscode
.rebooted
.*proj
.settings/

nohup.out
out
logs
log
*.log
*.log.*
.grunt
.svn

### Build ###
build
public*
dist
*_dist


